* {
  box-sizing: border-box;
}

ul.inline-list {
  margin-bottom: 0;
}

ul.inline-list li {
  display: inline-block;
  margin-right: 10px;
}

.pill {
  border: 1px solid black;
  border-radius: 100px;
  padding: 0 7px;
}

.flex {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.card {
  border: 2px solid #00000042;
  margin: 5px;
  padding: 4px;
  box-shadow: 2px 2px 2px #00000042;
  border-radius: 4px;
}

.user {
  min-width: 250px;
}

.user input {
  margin: 0;
}

.level {
  min-width: 300px;
}

dt, dd {
  display: inline-block;
}


.download {
  position: fixed;
  bottom: 8px;
  right: 8px;
}

#mapModal {
  display: grid;
  grid-template-columns: repeat(61, 12px);
  grid-gap: 0px;
  position: fixed;
  width: 732px;
  height: 732px;
  top: 10px;
  left: 50%;
  padding: 2px;
  transform: translateX(-50%) rotate(-90deg);
  background-color: #424040;
  border: 1px solid #000;
}

#mapModal .cell {
  height: 12px;
  width: 12px;
  display: inline-block;

  color: white;
  font-size: 10px;
  transform: rotate(90deg);
  line-height: 6px;
  transform-origin: center center;
  text-align: center;
}
